In [2]:
import pandas as pd
import numpy as np

In [5]:
dataframe_plm = pd.read_csv("../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/phosphoELM_all_2015-04.csv", sep="\t")
dataframe_plm

,acc,sequence,position,code,pmids,kinases,source,species,entry_date
0,O08539,MAEMGSKGVTAGKIASNVQKKLTRAQEKVLQKLGKADETKDEQFEQ...,304,S,17114649,NaN,HTP,Mus musculus,2005-03-14 12:16:11.108314+01
1,O08539,MAEMGSKGVTAGKIASNVQKKLTRAQEKVLQKLGKADETKDEQFEQ...,304,S,17242355,NaN,HTP,Mus musculus,2005-03-14 12:16:11.108314+01
2,O08539,MAEMGSKGVTAGKIASNVQKKLTRAQEKVLQKLGKADETKDEQFEQ...,304,S,15345747,NaN,HTP,Mus musculus,2005-03-14 12:16:11.108314+01
3,O08539,MAEMGSKGVTAGKIASNVQKKLTRAQEKVLQKLGKADETKDEQFEQ...,296,S,17114649,NaN,HTP,Mus musculus,2007-07-13 15:17:45.666219+02
4,O08539,MAEMGSKGVTAGKIASNVQKKLTRAQEKVLQKLGKADETKDEQFEQ...,296,S,17242355,NaN,HTP,Mus musculus,2007-07-13 15:17:45.666219+02
...,...,...,...,...,...,...,...,...,...
57385,Q9NNX1,MNGTRNWCTLVDVHPEDQAAGSVDILRLTLQGELTGDELEHIAQKA...,378,S,22067460,NaN,HTP,Homo sapiens,2011-11-14 19:43:22.267702+01
57386,P33552,MAHKQIYYSDKYFDEHYEYRHVMLPRELSKQVPKTHLMSEEEWRRL...,51,S,22067460,NaN,HTP,Homo sapiens,2011-11-14 19:43:26.8579+01
57387,Q96SB8,MAKRKEENFSSPKNAKRPRQEELEDFDKDGDEDECKGTTLTAAEVG...,695,S,22067460,NaN,HTP,Homo sapiens,2011-11-14 19:43:27.603887+01
57388,Q96SB8,MAKRKEENFSSPKNAKRPRQEELEDFDKDGDEDECKGTTLTAAEVG...,291,S,22067460,NaN,HTP,Homo sapiens,2011-11-14 19:43:27.492959+01
57389,Q9UGJ1,MIHELLLALSGYPGSIFTWNKRSGLQVSQDFPFLHPSETSVLNRLC...,441,S,22067460,NaN,HTP,Homo sapiens,2011-11-14 19:43:30.010184+01

In [7]:
humans = dataframe_plm[dataframe_plm["species"] == "Homo sapiens"]
humans

,acc,sequence,position,code,pmids,kinases,source,species,entry_date
14,O14543,MVTHSKFPAAGMSRPLDTSLRLKTFSSKSEYQLVVNAVRKLQESGF...,204,Y,12783885,Lck,LTP,Homo sapiens,2006-10-17 12:06:48.16767+02
15,O14543,MVTHSKFPAAGMSRPLDTSLRLKTFSSKSEYQLVVNAVRKLQESGF...,221,Y,12783885,NaN,LTP,Homo sapiens,2006-10-17 12:06:48.271076+02
16,O14543,MVTHSKFPAAGMSRPLDTSLRLKTFSSKSEYQLVVNAVRKLQESGF...,221,Y,15173187,Lck,LTP,Homo sapiens,2006-10-17 12:06:48.271076+02
17,O14746,MPRAPRCRAVRSLLRSHYREVLPLATFVRRLGPQGWRLVQRGDPAA...,797,S,16565220,NaN,HTP,Homo sapiens,2006-10-17 11:57:53.909276+02
18,O14746,MPRAPRCRAVRSLLRSHYREVLPLATFVRRLGPQGWRLVQRGDPAA...,824,S,10224060,PKB_group,LTP,Homo sapiens,2004-12-31 00:00:00+01
...,...,...,...,...,...,...,...,...,...
57385,Q9NNX1,MNGTRNWCTLVDVHPEDQAAGSVDILRLTLQGELTGDELEHIAQKA...,378,S,22067460,NaN,HTP,Homo sapiens,2011-11-14 19:43:22.267702+01
57386,P33552,MAHKQIYYSDKYFDEHYEYRHVMLPRELSKQVPKTHLMSEEEWRRL...,51,S,22067460,NaN,HTP,Homo sapiens,2011-11-14 19:43:26.8579+01
57387,Q96SB8,MAKRKEENFSSPKNAKRPRQEELEDFDKDGDEDECKGTTLTAAEVG...,695,S,22067460,NaN,HTP,Homo sapiens,2011-11-14 19:43:27.603887+01
57388,Q96SB8,MAKRKEENFSSPKNAKRPRQEELEDFDKDGDEDECKGTTLTAAEVG...,291,S,22067460,NaN,HTP,Homo sapiens,2011-11-14 19:43:27.492959+01
57389,Q9UGJ1,MIHELLLALSGYPGSIFTWNKRSGLQVSQDFPFLHPSETSVLNRLC...,441,S,22067460,NaN,HTP,Homo sapiens,2011-11-14 19:43:30.010184+01

In [8]:
target_seq_len = 33
target_left_right = 16

In [45]:
data_S_pos = ""
data_S_neg = "" #list()
data_T_pos = "" #list()
data_T_neg = "" #list()
data_Y_pos = "" #list()
data_Y_neg = "" #list()

def write_fasta(dataframe, file_path):
    dataframe = dataframe.drop_duplicates(subset=['sequence'])
    print("After duplicates removal")
    print(dataframe)
    data_fasta = ""
    for i, row in dataframe.iterrows():
        data_fasta += ">" + row["acc"] + "\n"
        data_fasta += row["sequence"] + "\n"
    
    with open(file_path, 'w') as f:
        f.write(data_fasta)


r_S_id = list()
r_S_seq = list()
r_T_id = list()
r_T_seq = list()

for i, row in humans.iterrows():
    pos = int(row["position"])
    if pos > 33 and pos + target_left_right < len(row["sequence"]):
        extracted_seq = row["sequence"][pos - target_left_right - 1: pos + target_left_right]
        if row["code"] == "S":
            r_S_id.append(row["acc"])
            r_S_seq.append(extracted_seq)
        if row["code"] == "T":
            r_T_id.append(row["acc"])
            r_T_seq.append(extracted_seq)
        
            
S_dataframe = pd.DataFrame(zip(r_S_id, r_S_seq), columns=["acc", "sequence"])
T_dataframe = pd.DataFrame(zip(r_T_id, r_T_seq), columns=["acc", "sequence"])

print(S_dataframe)
print()
print(T_dataframe)

          acc                           sequence
0      O14746  QETSPLRDAVVIEQSSSLNEASSGLFDVFLRFM
1      O14746  VFLRFMCHHAVRIRGKSYVQCQGIPQGSILSTL
2      O14746  GVPLGLPAPGARRRGGSASRSLPLPKRPRRGAA
3      O14867  QTPQCKLRRYQGNAKASPPLQDSASQTYESMCL
4      O14867  SQKRSECPWLGIRISESPEPGQRTFTTLSSVNC
...       ...                                ...
24423  Q8NFH3  ENYISLWSIGDFGNLDSDGGFEGDHQLLCDIRH
24424  P33552  THLMSEEEWRRLGVQQSLGWVHYMIHEPEPHIL
24425  Q96SB8  ENTRPKFLSRDVDSEISDLENEVENKTAQILNL
24426  Q96SB8  RQCVEKEERFQSIAGLSTMKTNLESLKHEMAWA
24427  Q9UGJ1  HKADATQAREGPSRETSPREAPASGWAALGLSY

[24428 rows x 2 columns]

           acc                           sequence
0       O14746  RTAQTQLSRKLPGTTLTALEAAANPALPSDFKT
1       O15117  VNQDHDLKPLGPKSGPTPPTSENEQKQAFPKLT
2       O15143  RERFQNLDKKASSEGGTAAGAGLDSLHKNSVSQ
3       O15350  STMDQMSSRAASASPYTPEHAASVPTHSPYAQP
4       O15392  FLKLDRERAKNKIAKETNNKKKEFEETAKKVRR
...        ...                                ...
5657  P33981-1  KTPSSNTLDDYMSCFRTPVVKNDFPPACQLSTP
5658  P33981-1  QMQPDTTSVVKDSQVGTVNYMPPEAIKDMSSSR
5659  P33981-1  QMQPDTTSVVKDSQVGTVNYMPPEAIKDMSSSR
5660  Q9Y4B5-4  RPANRRPPSRWAPHSPTASQPQSPGDPTSLEEH
5661    P50748  HIKAHEVAQAKHKPGSTPEPIAAEVRSPSMESK

[5662 rows x 2 columns]

In [46]:
write_fasta(S_dataframe, "../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/all_pos_S.fasta")

After duplicates removal
          acc                           sequence
0      O14746  QETSPLRDAVVIEQSSSLNEASSGLFDVFLRFM
1      O14746  VFLRFMCHHAVRIRGKSYVQCQGIPQGSILSTL
2      O14746  GVPLGLPAPGARRRGGSASRSLPLPKRPRRGAA
3      O14867  QTPQCKLRRYQGNAKASPPLQDSASQTYESMCL
4      O14867  SQKRSECPWLGIRISESPEPGQRTFTTLSSVNC
...       ...                                ...
24423  Q8NFH3  ENYISLWSIGDFGNLDSDGGFEGDHQLLCDIRH
24424  P33552  THLMSEEEWRRLGVQQSLGWVHYMIHEPEPHIL
24425  Q96SB8  ENTRPKFLSRDVDSEISDLENEVENKTAQILNL
24426  Q96SB8  RQCVEKEERFQSIAGLSTMKTNLESLKHEMAWA
24427  Q9UGJ1  HKADATQAREGPSRETSPREAPASGWAALGLSY

[16833 rows x 2 columns]

In [47]:
write_fasta(T_dataframe, "../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/all_pos_T.fasta")

After duplicates removal
           acc                           sequence
0       O14746  RTAQTQLSRKLPGTTLTALEAAANPALPSDFKT
1       O15117  VNQDHDLKPLGPKSGPTPPTSENEQKQAFPKLT
2       O15143  RERFQNLDKKASSEGGTAAGAGLDSLHKNSVSQ
3       O15350  STMDQMSSRAASASPYTPEHAASVPTHSPYAQP
4       O15392  FLKLDRERAKNKIAKETNNKKKEFEETAKKVRR
...        ...                                ...
5653  P33981-1  LKLIDFGIANQMQPDTTSVVKDSQVGTVNYMPP
5657  P33981-1  KTPSSNTLDDYMSCFRTPVVKNDFPPACQLSTP
5658  P33981-1  QMQPDTTSVVKDSQVGTVNYMPPEAIKDMSSSR
5660  Q9Y4B5-4  RPANRRPPSRWAPHSPTASQPQSPGDPTSLEEH
5661    P50748  HIKAHEVAQAKHKPGSTPEPIAAEVRSPSMESK

[4276 rows x 2 columns]

In [62]:
# create negative dataset
S_neg_id = list()
S_neg_seq = list()

T_neg_id = list()
T_neg_seq = list()

def extract_neg_seq(original_seq, s_id, pos, s_len=33):
    r_id = list()
    r_seq = list()
    for p in pos:
        if p > s_len:
            extracted_seq = original_seq[p - target_left_right: p + target_left_right + 1]
            if len(extracted_seq) >= s_len:
                r_id.append(s_id)
                r_seq.append(extracted_seq)
    return r_id, r_seq
                        

for i, row in humans.iterrows():
    #pos = int(row["position"])
    if len(row["sequence"]) > 33:

        S_pos = [pos for pos, char in enumerate(row["sequence"]) if char == "S"]
        T_pos = [pos for pos, char in enumerate(row["sequence"]) if char == "T"]
        
        if row["code"] == "S":
            # exclude POS position
            S_pos = [ item for item in S_pos if item != row["position"] - 1 ]
            ids, seqs = extract_neg_seq(row["sequence"], row["acc"], S_pos)
            S_neg_id.extend(ids)
            S_neg_seq.extend(seqs)
        if row["code"] == "T":
            # exclude POS position
            T_pos = [ item for item in T_pos if item != row["position"] - 1 ]
            ids, seqs = extract_neg_seq(row["sequence"], row["acc"], T_pos)
            T_neg_id.extend(ids)
            T_neg_seq.extend(seqs)


S_neg_dataframe = pd.DataFrame(zip(S_neg_id, S_neg_seq), columns=["acc", "sequence"])
T_neg_dataframe = pd.DataFrame(zip(T_neg_id, T_neg_seq), columns=["acc", "sequence"])

In [63]:
S_neg_dataframe

            acc                           sequence
0        O14746  CLVCVPWDARPPPAAPSFRQVSCLKELVARVLQ
1        O14746  PWDARPPPAAPSFRQVSCLKELVARVLQRLCER
2        O14746  ALLDGARGGPPEAFTTSVRSYLPNTVTDALRGS
3        O14746  DGARGGPPEAFTTSVRSYLPNTVTDALRGSGAW
4        O14746  SVRSYLPNTVTDALRGSGAWGLLLRRVGDDVLV
...         ...                                ...
2844573  Q9UGJ1  RGAAQLSILVKGFSRQSSLLFKILSSVRNHQIN
2844574  Q9UGJ1  GAAQLSILVKGFSRQSSLLFKILSSVRNHQINS
2844575  Q9UGJ1  LVKGFSRQSSLLFKILSSVRNHQINSDLAQLLL
2844576  Q9UGJ1  VKGFSRQSSLLFKILSSVRNHQINSDLAQLLLR
2844577  Q9UGJ1  SLLFKILSSVRNHQINSDLAQLLLRLDYNKYYT

[2844578 rows x 2 columns]

In [64]:
T_neg_dataframe

           acc                           sequence
0       O14746  GFALLDGARGGPPEAFTTSVRSYLPNTVTDALR
1       O14746  FALLDGARGGPPEAFTTSVRSYLPNTVTDALRG
2       O14746  GPPEAFTTSVRSYLPNTVTDALRGSGAWGLLLR
3       O14746  PEAFTTSVRSYLPNTVTDALRGSGAWGLLLRRV
4       O14746  CAYQVCGPPLYQLGAATQARPPPHASGPRRRLG
...        ...                                ...
355922  P50748  SCDPQVILKQLEEHMNTGQLAGFSHQIRSLILN
355923  P50748  ILNNIINKKEFGILAKTKYFQMLKMHAMNTNNI
355924  P50748  LAKTKYFQMLKMHAMNTNNITELVNYLANDLSL
355925  P50748  KYFQMLKMHAMNTNNITELVNYLANDLSLDEAS
355926  P50748  NYLANDLSLDEASVLITEYSKHCGKPVPPDTAP

[355927 rows x 2 columns]

In [ ]:
write_fasta(S_neg_dataframe, "../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/all_neg_S.fasta")

In [ ]:
write_fasta(T_neg_dataframe, "../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/all_neg_T.fasta")