In [1]:
import pandas as pd
import numpy as np

In [2]:
phosphosite_df = pd.read_csv("../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/phosphoELM_all_2015-04.csv", sep="\t")
phosphosite_df

,acc,sequence,position,code,pmids,kinases,source,species,entry_date
0,O08539,MAEMGSKGVTAGKIASNVQKKLTRAQEKVLQKLGKADETKDEQFEQ...,304,S,17114649,NaN,HTP,Mus musculus,2005-03-14 12:16:11.108314+01
1,O08539,MAEMGSKGVTAGKIASNVQKKLTRAQEKVLQKLGKADETKDEQFEQ...,304,S,17242355,NaN,HTP,Mus musculus,2005-03-14 12:16:11.108314+01
2,O08539,MAEMGSKGVTAGKIASNVQKKLTRAQEKVLQKLGKADETKDEQFEQ...,304,S,15345747,NaN,HTP,Mus musculus,2005-03-14 12:16:11.108314+01
3,O08539,MAEMGSKGVTAGKIASNVQKKLTRAQEKVLQKLGKADETKDEQFEQ...,296,S,17114649,NaN,HTP,Mus musculus,2007-07-13 15:17:45.666219+02
4,O08539,MAEMGSKGVTAGKIASNVQKKLTRAQEKVLQKLGKADETKDEQFEQ...,296,S,17242355,NaN,HTP,Mus musculus,2007-07-13 15:17:45.666219+02
...,...,...,...,...,...,...,...,...,...
57385,Q9NNX1,MNGTRNWCTLVDVHPEDQAAGSVDILRLTLQGELTGDELEHIAQKA...,378,S,22067460,NaN,HTP,Homo sapiens,2011-11-14 19:43:22.267702+01
57386,P33552,MAHKQIYYSDKYFDEHYEYRHVMLPRELSKQVPKTHLMSEEEWRRL...,51,S,22067460,NaN,HTP,Homo sapiens,2011-11-14 19:43:26.8579+01
57387,Q96SB8,MAKRKEENFSSPKNAKRPRQEELEDFDKDGDEDECKGTTLTAAEVG...,695,S,22067460,NaN,HTP,Homo sapiens,2011-11-14 19:43:27.603887+01
57388,Q96SB8,MAKRKEENFSSPKNAKRPRQEELEDFDKDGDEDECKGTTLTAAEVG...,291,S,22067460,NaN,HTP,Homo sapiens,2011-11-14 19:43:27.492959+01
57389,Q9UGJ1,MIHELLLALSGYPGSIFTWNKRSGLQVSQDFPFLHPSETSVLNRLC...,441,S,22067460,NaN,HTP,Homo sapiens,2011-11-14 19:43:30.010184+01

In [3]:
dataframe_plm = pd.read_csv("../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/phosphoELM_all_2015-04.csv", sep="\t")
dataframe_plm

,acc,sequence,position,code,pmids,kinases,source,species,entry_date
0,O08539,MAEMGSKGVTAGKIASNVQKKLTRAQEKVLQKLGKADETKDEQFEQ...,304,S,17114649,NaN,HTP,Mus musculus,2005-03-14 12:16:11.108314+01
1,O08539,MAEMGSKGVTAGKIASNVQKKLTRAQEKVLQKLGKADETKDEQFEQ...,304,S,17242355,NaN,HTP,Mus musculus,2005-03-14 12:16:11.108314+01
2,O08539,MAEMGSKGVTAGKIASNVQKKLTRAQEKVLQKLGKADETKDEQFEQ...,304,S,15345747,NaN,HTP,Mus musculus,2005-03-14 12:16:11.108314+01
3,O08539,MAEMGSKGVTAGKIASNVQKKLTRAQEKVLQKLGKADETKDEQFEQ...,296,S,17114649,NaN,HTP,Mus musculus,2007-07-13 15:17:45.666219+02
4,O08539,MAEMGSKGVTAGKIASNVQKKLTRAQEKVLQKLGKADETKDEQFEQ...,296,S,17242355,NaN,HTP,Mus musculus,2007-07-13 15:17:45.666219+02
...,...,...,...,...,...,...,...,...,...
57385,Q9NNX1,MNGTRNWCTLVDVHPEDQAAGSVDILRLTLQGELTGDELEHIAQKA...,378,S,22067460,NaN,HTP,Homo sapiens,2011-11-14 19:43:22.267702+01
57386,P33552,MAHKQIYYSDKYFDEHYEYRHVMLPRELSKQVPKTHLMSEEEWRRL...,51,S,22067460,NaN,HTP,Homo sapiens,2011-11-14 19:43:26.8579+01
57387,Q96SB8,MAKRKEENFSSPKNAKRPRQEELEDFDKDGDEDECKGTTLTAAEVG...,695,S,22067460,NaN,HTP,Homo sapiens,2011-11-14 19:43:27.603887+01
57388,Q96SB8,MAKRKEENFSSPKNAKRPRQEELEDFDKDGDEDECKGTTLTAAEVG...,291,S,22067460,NaN,HTP,Homo sapiens,2011-11-14 19:43:27.492959+01
57389,Q9UGJ1,MIHELLLALSGYPGSIFTWNKRSGLQVSQDFPFLHPSETSVLNRLC...,441,S,22067460,NaN,HTP,Homo sapiens,2011-11-14 19:43:30.010184+01

In [4]:
humans = dataframe_plm[dataframe_plm["species"] == "Homo sapiens"]
#df2['id'].isin(['SP.POP.TOTL','NY.GNP.PCAP.CD'])
humans

,acc,sequence,position,code,pmids,kinases,source,species,entry_date
14,O14543,MVTHSKFPAAGMSRPLDTSLRLKTFSSKSEYQLVVNAVRKLQESGF...,204,Y,12783885,Lck,LTP,Homo sapiens,2006-10-17 12:06:48.16767+02
15,O14543,MVTHSKFPAAGMSRPLDTSLRLKTFSSKSEYQLVVNAVRKLQESGF...,221,Y,12783885,NaN,LTP,Homo sapiens,2006-10-17 12:06:48.271076+02
16,O14543,MVTHSKFPAAGMSRPLDTSLRLKTFSSKSEYQLVVNAVRKLQESGF...,221,Y,15173187,Lck,LTP,Homo sapiens,2006-10-17 12:06:48.271076+02
17,O14746,MPRAPRCRAVRSLLRSHYREVLPLATFVRRLGPQGWRLVQRGDPAA...,797,S,16565220,NaN,HTP,Homo sapiens,2006-10-17 11:57:53.909276+02
18,O14746,MPRAPRCRAVRSLLRSHYREVLPLATFVRRLGPQGWRLVQRGDPAA...,824,S,10224060,PKB_group,LTP,Homo sapiens,2004-12-31 00:00:00+01
...,...,...,...,...,...,...,...,...,...
57385,Q9NNX1,MNGTRNWCTLVDVHPEDQAAGSVDILRLTLQGELTGDELEHIAQKA...,378,S,22067460,NaN,HTP,Homo sapiens,2011-11-14 19:43:22.267702+01
57386,P33552,MAHKQIYYSDKYFDEHYEYRHVMLPRELSKQVPKTHLMSEEEWRRL...,51,S,22067460,NaN,HTP,Homo sapiens,2011-11-14 19:43:26.8579+01
57387,Q96SB8,MAKRKEENFSSPKNAKRPRQEELEDFDKDGDEDECKGTTLTAAEVG...,695,S,22067460,NaN,HTP,Homo sapiens,2011-11-14 19:43:27.603887+01
57388,Q96SB8,MAKRKEENFSSPKNAKRPRQEELEDFDKDGDEDECKGTTLTAAEVG...,291,S,22067460,NaN,HTP,Homo sapiens,2011-11-14 19:43:27.492959+01
57389,Q9UGJ1,MIHELLLALSGYPGSIFTWNKRSGLQVSQDFPFLHPSETSVLNRLC...,441,S,22067460,NaN,HTP,Homo sapiens,2011-11-14 19:43:30.010184+01

In [5]:
humans[humans["code"] == "Y"]

,acc,sequence,position,code,pmids,kinases,source,species,entry_date
14,O14543,MVTHSKFPAAGMSRPLDTSLRLKTFSSKSEYQLVVNAVRKLQESGF...,204,Y,12783885,Lck,LTP,Homo sapiens,2006-10-17 12:06:48.16767+02
15,O14543,MVTHSKFPAAGMSRPLDTSLRLKTFSSKSEYQLVVNAVRKLQESGF...,221,Y,12783885,NaN,LTP,Homo sapiens,2006-10-17 12:06:48.271076+02
16,O14543,MVTHSKFPAAGMSRPLDTSLRLKTFSSKSEYQLVVNAVRKLQESGF...,221,Y,15173187,Lck,LTP,Homo sapiens,2006-10-17 12:06:48.271076+02
21,O14746,MPRAPRCRAVRSLLRSHYREVLPLATFVRRLGPQGWRLVQRGDPAA...,707,Y,12808100,SRC,LTP,Homo sapiens,2006-10-17 11:57:52.221615+02
43,O15117,MAKYNTGGNPTEDVSVNSRPFRVTGPNSSSGIQARKNLFNNQGNAS...,651,Y,10409671,Fyn,LTP,Homo sapiens,2004-12-31 00:00:00+01
...,...,...,...,...,...,...,...,...,...
56987,Q9UET6,MGRTSKDKRDVYYRLAKENGWRARSAFKLLQLDKEFQLFQGVTRAV...,262,Y,18669648,NaN,HTP,Homo sapiens,2010-06-17 12:37:29.67321+02
56998,Q9UHR5,MAGKKNVLSSLAVYAEDSEPESDGEAGIEAVGSAAEEKGGLVSDAY...,14,Y,18669648,NaN,HTP,Homo sapiens,2010-06-17 12:37:32.042356+02
57063,Q9UMR2,MATDSWALAVDEQEAAAESLSNLHLKEEKIKPDTNGAVVKTNANAE...,89,Y,18669648,NaN,HTP,Homo sapiens,2010-06-17 12:37:47.378392+02
57067,Q9UMS4,MSLICSISNEVPEHPCVSPVSNHVYERRLIEKYIAENGTDPINNQP...,329,Y,18669648,NaN,HTP,Homo sapiens,2010-06-17 12:37:48.035921+02
57155,Q9Y623,MSSDSEMAIFGEAAPFLRKSEKERIEAQNKPFDAKTSVFVVDPKES...,1464,Y,18669648,NaN,HTP,Homo sapiens,2010-06-17 12:38:10.77467+02

In [7]:
target_seq_len = 33
target_left_right = 16

In [9]:
def write_fasta(dataframe, file_path):
    dataframe = dataframe.drop_duplicates(subset=['sequence'])
    print("After duplicates removal")
    print(dataframe)
    data_fasta = ""
    for i, row in dataframe.iterrows():
        data_fasta += ">" + row["acc"] + "\n"
        data_fasta += row["sequence"] + "\n"
    
    with open(file_path, 'w') as f:
        f.write(data_fasta)
    return dataframe

r_Y_id = list()
r_Y_seq = list()

for i, row in humans.iterrows():
    pos = int(row["position"])
    if pos > 33 and pos + target_left_right < len(row["sequence"]):
        extracted_seq = row["sequence"][pos - target_left_right - 1: pos + target_left_right]
        if row["code"] == "Y":
            r_Y_id.append(row["acc"])
            r_Y_seq.append(extracted_seq)
        
            
Y_dataframe = pd.DataFrame(zip(r_Y_id, r_Y_seq), columns=["acc", "sequence"])

print(Y_dataframe)

         acc                           sequence
0     O14543  TLQHLCRKTVNGHLDSYEKVTQLPGPIREFLDQ
1     O14746  RTFVLRVRAQDPPPELYFVKVDVTGAYDTIPQD
2     O15117  DGFPAPPKQLDMGDEVYDDVDTSDFPVSSAEMS
3     O15117  DGFPAPPKQLDMGDEVYDDVDTSDFPVSSAEMS
4     O15117  ARGSYGYIKTTAVEIDYDSLKLKKDSLGAPSRP
...      ...                                ...
3026  Q9NYQ7  STQGGVGLVTLALPLDYKQERYFKLVLTASDRA
3027  Q9UET6  SDRSYPLDLEGGSEYKYTPPTQPPISPPYQEAC
3028  Q9UMR2  NTNQVEVLQRDPNSPLYSVKSFEELRLKPQLLQ
3029  Q9UMS4  SLHATGDYLLSSSDDQYWAFSDIQTGRVLTKVT
3030  Q9Y623  KKQRNFDKVLAEWKQKYEETQAELEASQKESRS

[3031 rows x 2 columns]

In [11]:
dedup_Y_dataframe = write_fasta(Y_dataframe, "../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/Phospho_pos_Y.fasta")  
dedup_Y_dataframe.to_csv("../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/Phospho_pos_Y.tsv", sep="\t", index=None)

After duplicates removal
         acc                           sequence
0     O14543  TLQHLCRKTVNGHLDSYEKVTQLPGPIREFLDQ
1     O14746  RTFVLRVRAQDPPPELYFVKVDVTGAYDTIPQD
2     O15117  DGFPAPPKQLDMGDEVYDDVDTSDFPVSSAEMS
4     O15117  ARGSYGYIKTTAVEIDYDSLKLKKDSLGAPSRP
7     O15117  DSLGAPSRPIEDDQEVYDDVAEQDDISSHSQSG
...      ...                                ...
3026  Q9NYQ7  STQGGVGLVTLALPLDYKQERYFKLVLTASDRA
3027  Q9UET6  SDRSYPLDLEGGSEYKYTPPTQPPISPPYQEAC
3028  Q9UMR2  NTNQVEVLQRDPNSPLYSVKSFEELRLKPQLLQ
3029  Q9UMS4  SLHATGDYLLSSSDDQYWAFSDIQTGRVLTKVT
3030  Q9Y623  KKQRNFDKVLAEWKQKYEETQAELEASQKESRS

[2050 rows x 2 columns]

In [12]:
# create negative dataset
Y_neg_id = list()
Y_neg_seq = list()

def extract_neg_seq(original_seq, s_id, pos, s_len=33):
    r_id = list()
    r_seq = list()
    for p in pos:
        if p > s_len:
            extracted_seq = original_seq[p - target_left_right: p + target_left_right + 1]
            if len(extracted_seq) >= s_len:
                r_id.append(s_id)
                r_seq.append(extracted_seq)
    return r_id, r_seq
                        

for i, row in humans.iterrows():
    if len(row["sequence"]) > 33:

        Y_pos = [pos for pos, char in enumerate(row["sequence"]) if char == "Y"]
        
        if row["code"] == "Y":
            # exclude POS position
            Y_pos = [ item for item in Y_pos if item != row["position"] - 1 ]
            ids, seqs = extract_neg_seq(row["sequence"], row["acc"], Y_pos)
            Y_neg_id.extend(ids)
            Y_neg_seq.extend(seqs)
        

Y_neg_dataframe = pd.DataFrame(zip(Y_neg_id, Y_neg_seq), columns=["acc", "sequence"])

In [14]:
Y_neg_dataframe

          acc                           sequence
0      O14543  YQLVVNAVRKLQESGFYWSAVTGGEANLLLSAE
1      O14543  TQPVPRFDCVLKLVHHYMPPPGAPSFPSPPTEP
2      O14543  EQPSAQPLPGSPPRRAYYIYSGGEKIPLVLSRP
3      O14543  QPSAQPLPGSPPRRAYYIYSGGEKIPLVLSRPL
4      O14543  SAQPLPGSPPRRAYYIYSGGEKIPLVLSRPLSS
...       ...                                ...
75407  Q9Y623  HALQSARHDCDLLREQYEEEQEAKAELQRGMSK
75408  Q9Y623  RGMSKANSEVAQWRTKYETDAIQRTEELEEAKK
75409  Q9Y623  KESRSLSTELFKVKNAYEESLDHLETLKRENKN
75410  Q9Y623  AVKGLRKHERRVKELTYQTEEDRKNILRLQDLV
75411  Q9Y623  LRLQDLVDKLQTKVKAYKRQAEEAEEQSNVNLA

[75412 rows x 2 columns]

In [15]:
dedup_Y_neg_dataframe = write_fasta(Y_neg_dataframe, "../dataset/phospho.elm_dataset/phosphoELM_all_latest.dump/Phospho_neg_Y.fasta")
dedup_Y_neg_dataframe

After duplicates removal
          acc                           sequence
0      O14543  YQLVVNAVRKLQESGFYWSAVTGGEANLLLSAE
1      O14543  TQPVPRFDCVLKLVHHYMPPPGAPSFPSPPTEP
2      O14543  EQPSAQPLPGSPPRRAYYIYSGGEKIPLVLSRP
3      O14543  QPSAQPLPGSPPRRAYYIYSGGEKIPLVLSRPL
4      O14543  SAQPLPGSPPRRAYYIYSGGEKIPLVLSRPLSS
...       ...                                ...
75407  Q9Y623  HALQSARHDCDLLREQYEEEQEAKAELQRGMSK
75408  Q9Y623  RGMSKANSEVAQWRTKYETDAIQRTEELEEAKK
75409  Q9Y623  KESRSLSTELFKVKNAYEESLDHLETLKRENKN
75410  Q9Y623  AVKGLRKHERRVKELTYQTEEDRKNILRLQDLV
75411  Q9Y623  LRLQDLVDKLQTKVKAYKRQAEEAEEQSNVNLA

[25100 rows x 2 columns]

          acc                           sequence
0      O14543  YQLVVNAVRKLQESGFYWSAVTGGEANLLLSAE
1      O14543  TQPVPRFDCVLKLVHHYMPPPGAPSFPSPPTEP
2      O14543  EQPSAQPLPGSPPRRAYYIYSGGEKIPLVLSRP
3      O14543  QPSAQPLPGSPPRRAYYIYSGGEKIPLVLSRPL
4      O14543  SAQPLPGSPPRRAYYIYSGGEKIPLVLSRPLSS
...       ...                                ...
75407  Q9Y623  HALQSARHDCDLLREQYEEEQEAKAELQRGMSK
75408  Q9Y623  RGMSKANSEVAQWRTKYETDAIQRTEELEEAKK
75409  Q9Y623  KESRSLSTELFKVKNAYEESLDHLETLKRENKN
75410  Q9Y623  AVKGLRKHERRVKELTYQTEEDRKNILRLQDLV
75411  Q9Y623  LRLQDLVDKLQTKVKAYKRQAEEAEEQSNVNLA

[25100 rows x 2 columns]